
Assignment 2/Chaos.pdf

Assignment 1/AM4680_Assignment1.pdf

Assignment 1/Feedback_vanHeumen.docx

Assignment 2/WI4680_Assignment_2.pdf

Assignment 3/Assignment3_CellBiology.pdf

Assignment 3/code/plottingtools/__pycache__/

Assignment 3/code/__pycache__/

*.docx

Assignment 3/WI4680_Assignment_3.pdf

Assignment 1/Assignment1_EBM_v5.pdf

Assignment 2/Assignment2_MCM_v3.pdf

*.npy

Assignment 2/OldAssignment.pdf

Assignment 2/code/pd_run.log
